MONGODB_URI=mongodb://localhost:27017/smartstore
KAFKA_BROKERS=localhost:9092

KAFKA_TOPIC_TRANSACTION_CREATED=pos.transaction.created
KAFKA_TOPIC_USER_CREATED=pos.user.created
KAFKA_TOPIC_PRODUCT_CREATED=pos.product.created

API_PORT=3001
CORS_ORIGIN=*

POS_SALES_SERVICE_PORT=3002

POS_CATALOG_SERVICE_PORT=3003

WEB_PORT=3000
API_BASE_URL=http://localhost:3001/api
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001/api
