# MongoDB Atlas
MONGODB_URI_SALES=mongodb+srv://<user>:<password>@<cluster>/pos_sales
MONGODB_URI_CATALOG=mongodb+srv://<user>:<password>@<cluster>/pos_catalog
MONGODB_URI_POS=mongodb+srv://<user>:<password>@<cluster>/pos_service

# Confluent Cloud
KAFKA_BROKERS=<bootstrap-server>:9092
KAFKA_USERNAME=<api-key>
KAFKA_PASSWORD=<api-secret>
